html {
   background-image: url("https://telegra.ph/file/be4ce90306aa3e668d44a.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   background-color: transparent;
}
 
 div.App___StyledDiv-sc-2l91w7-0.fnfeQw {
   background-image: url("https://telegra.ph/file/be4ce90306aa3e668d44a.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   background-color: transparent;
 }
